* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
}
body {
  background-color: #000;
}
#firstContainer {
  height: 100vh;
}
.firstHeroImage {
  background-image: url("images/download.webp");
  height: inherit;
  width: 100%;
  background-position: top;
  background-size: cover;
}
.firstHeroImage header {
  width: 100%;
  height: 100px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
#Logo {
  filter: invert(1);
}
#firstContainer nav li a {
  text-decoration: none;
  position: relative;
  padding-bottom: 3px;
}
#firstContainer nav li a:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: white;
  left: 0;
  bottom: 0;
  transition: all 0.2s ease-in-out;
}
#firstContainer nav li a:hover:after {
  width: 100%;
}
#firstContainer nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-right: 270px;
}
#firstContainer nav ul li {
  margin: 0 15px;
  font-weight: 700;
}
.navRightShop a {
  position: absolute;
  top: 40px;
  right: 105px;
  text-decoration: none;
  font-weight: 700;
}
.navRightShop a:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: white;
  left: 0;
  bottom: 0;
  transition: all 0.2s ease-in-out;
}
.navRightShop a:hover:after {
  width: 100%;
}
.navRight input {
  position: absolute;
  top: 40px;
  right: 45px;
  z-index: 50;
  width: 20px;
  height: 18px;
  opacity: 0;
  cursor: pointer;
}
.navRight input:checked ~ #sideMenu {
  right: 0;
  top: 0;
  transition: all 1s cubic-bezier(0, 1.02, 0.51, 0.96);
  opacity: 1;
}
.navRight input:checked + .hamburgerMenu .hamMenu1 {
  transition: all 0.2s cubic-bezier(0, 1.02, 0.51, 0.96);
  transform: rotate(45deg) translateY(4px) translateX(5px);
}
.navRight input:checked + .hamburgerMenu .hamMenu2 {
  transition: all 0.2s cubic-bezier(0, 1.02, 0.51, 0.96);
  transform: rotate(-42deg);
}
.navRight input:checked + .hamburgerMenu .hamMenu3 {
  transition: all 0.2s cubic-bezier(0, 1.02, 0.51, 0.96);
  transform: rotate(-45deg);
  opacity: 0;
}
.navRight .hamburgerMenu {
  width: 20px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 40px;
  right: 45px;
  cursor: pointer;
  z-index: 49;
}
.navRight .hamburgerMenu .hamMenu1 {
  background-color: #ffffff;
  width: 20px;
  height: 2px;
  margin-bottom: 4px;
}
.navRight .hamburgerMenu .hamMenu2 {
  background-color: #ffffff;
  width: 20px;
  height: 2px;
  margin-bottom: 4px;
}
.navRight .hamburgerMenu .hamMenu3 {
  background-color: #ffffff;
  width: 20px;
  height: 2px;
  margin-bottom: 4px;
}
#sideMenu {
  position: fixed;
  width: 350px;
  height: 100vh;
  background-color: #000000;
  right: -320px;
  opacity: 0;
}
#sideMenu ul {
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
#sideMenu li {
  margin: 12px 0px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.171);
  text-align: right;
  text-transform: uppercase;
  padding-bottom: 10px;
}
#sideMenu a {
  text-decoration: none;
}
#menu {
  position: absolute;
  top: 75px;
  right: 50px;
  width: 280px;
}
.material-symbols-outlined {
  position: absolute;
  top: 35px;
  right: 45px;
  cursor: pointer;
}
#firstContainer .mainText {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 190px);
  text-align: center;
}
#firstContainer h1 {
  font-size: 90px;
  font-weight: bold;
}
#firstContainer h2 {
  font-size: 20px;
  font-weight: lighter;
}
#counter {
  width: 100%;
  height: 322px;
  background-color: black;
  display: flex;
  justify-content: center;
}
#counter .container {
  display: flex;
  font-size: 20px;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  margin: 0 100px;
}
#counter .number {
  font-size: 120px;
}
#secondContainer {
  height: 100vh;
}
#secondContainer .sticky {
  height: 200vh;
}
.secondHeroImage {
  background-image: url("images/secondHeroImage.webp");
  height: 100vh;
  width: 100%;
  background-position: top;
  background-size: cover;
  position: sticky;
  top: 0;
}
.secondHeroImage p {
  width: 500px;
  line-height: 40px;
  font-size: 20px;
  transform: translate3d(350px, 250px, 4px);
}
#thirdContainer {
  height: 100vh;
  position: inherit;
  background-image: url("images/download.webp");
}
#forthContainer {
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}
.forthHeroImage video {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.forthHeroImage img {
  display: inline-block;
  width: 100%;
  height: 100%;
}
#rocketsFrame {
  width: 100%;
  height: 100vh;
}
#active {
  opacity: 100%;
}
.dotsRockets {
  display: flex;
  justify-content: center;
  margin-top: -35px;
}
.dotsRockets img {
  width: 10px;
  height: 10px;
  filter: invert(1);
  margin: 0 7px;
  opacity: 50%;
}
.dotsRockets #arrowR {
  position: absolute;
  opacity: 1;
  width: 30px ;
  height: 30px;
  right: 2%;
  bottom: 8%;
}
.dotsRockets #arrowL {
  position: absolute;
  opacity: 1;
  width: 30px ;
  height: 30px;
  left: 2%;
  bottom: 8%;
}
#table {
  width: 500px;
  position: absolute;
  top: 25%;
  left: 18%;
}
#table table {
  width: 100%;
}
#table span {
  color: gray;
}
#table tbody {
  height: 400px;
  width: 100%;
  font-weight: 700;
}
#table td {
  border-bottom: 1px solid rgba(128, 128, 128, 0.521);
  text-align: left;
}
#table td:nth-child(2n) {
  text-align: right;
}
.infoRockets {
  width: 500px;
  position: absolute;
  top: 25%;
  left: 18%;
}
.infoRockets h1 {
  margin-top: 20px;
}
.options {
  display: flex;
  margin: 40px 0;
}
.options h3 {
  margin-right: 10px;
  cursor: pointer;
  color: gray;
}
.options a:hover {
  color: #ffffff !important;
  transition: 0.6s;
}
#active {
  color: #ffffff;
}
.info p {
  margin-top: 25px;
  line-height: 30px;
}
.info div {
  display: flex;
  margin-top: 25px;
  width: 500px;
  justify-content: space-between;
  font-size: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.473);
  padding-bottom: 25px;
}
#fifthContaneir {
  width: 100%;
  height: 100vh;
  background-color: black;
}
#fifthContaneir iframe {
  height: 500px;
}
#sixthContainer {
  width: 100%;
  height: 100vh;
}
.sixthHeroImage {
  background-image: url("images/Merlin.webp");
  height: inherit;
  width: 100%;
  background-position: top;
  background-size: cover;
  position: relative;
}
.seventhHeroImage {
  background-image: url("images/MerlinVac.webp");
  height: inherit;
  width: 100%;
  background-position: top;
  background-size: cover;
  position: relative;
}
#gallery {
  width: 100%;
  height: 100vh;
}
#gallery iframe {
  width: 100%;
  height: 100%;
}
#gPic1 {
  width: 100%;
  background-size: contain;
  transform: translateY(-100px);
}
#gFooter {
  width: 100%;
  height: 80px;
  background-color: black;
  position: absolute;
  bottom: 0;
}
#gFooter .gNav {
  width: 100%;
}
#gFooter img {
  width: 25px ;
  height: 25px;
  filter: invert(1);
}
#gFooter div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
}
#left {
  position: absolute;
  left: 4%;
  bottom: 30%;
}
#right {
  position: absolute;
  right: 4%;
  bottom: 30%;
}
#engines iframe {
  width: 100%;
  height: 100vh;
}
footer {
  width: 100%;
  height: 550px;
}
footer div {
  display: flex;
  justify-content: center;
}
footer button {
  margin: 40px 20px 120px 20px;
  padding: 20px;
  background-color: black;
  border: 2px solid #ffffff;
  font-weight: bold;
}
.fButtons button {
  cursor: pointer;
}
.fNavigation ul {
  display: flex;
  list-style-type: none;
}
.fNavigation ul a {
  text-decoration: none;
}
.fNavigation li {
  margin: 0 25px;
  font-size: 13px;
}
